/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .debug {
    border: 1px solid white;
} */

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* HEADER */
header {
    background-image: url("../img/avada-nightclub-home-hero.jpg");
    background-size: cover;
}

.top-navbar {
    padding-top: 30px;
    height: 120px;
    text-align: center;
}

.top-navbar.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-navbar ul {
    list-style-type: none;
}

.left-navbar li, .right-navbar li {
    display: inline-flex;
}

.left-navbar li:not(:last-of-type) {
    margin-right: 80px;
}

.right-navbar li:not(:first-of-type) {
    margin-left: 80px;
}

.top-navbar li a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
}

.top-navbar img {
    width: 300px;
    margin-bottom: 15px;
}

.right-buttons {
    position: absolute;
    right: 0;
    margin-right: 10px;
    text-align: center;
}

.demos, .on-sale {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    background-color: #fefdfe;
    position: relative;
    color: #33475b;
}

.demos {
    margin-bottom: 5px;
}

.icon-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fas {
    font-size: 1.5rem;
}

.top-hero {
    text-align: center;
}

.top-hero .top-image img {
    width: 80%;
    padding-top: 150px;
    display: block;
    margin: 0 auto;
}

.box-bottom {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.memories-text {
    border-top: 5px solid #4da4dd;
    color: white;
    font-weight: 700;
    font-size: 40px;
    padding: 60px;
    position: relative;
}

.button {
    margin: 0 auto;
    width: 210px;
    padding: 12px 24px;
    color: white;
    background-color: #f53c81;
    font-weight: 800;
    letter-spacing: 2px;
}

.box-bottom .button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-hero .bottom-image img {
    margin-top: 70px;
    margin-bottom: 50px;
    width: 250px;
}

/* 1° SEZIONE WELCOME */
#welcome {
    background-image: url("../img/avada-nightclub-cloud-background.jpg");
    background-size: cover;
}

.main-welcome {
    position: relative;
}

.welcome-box-text-images {
    padding-top: 200px;
    text-align: center;
    padding-bottom: 200px;
}

.welcome-box-text-images h4 {
    color: #4da4dd;
    letter-spacing: 2px;
}

.welcome-box-text-images h1 {
    color: white;
    font-weight: 500;
    font-size: 48px;
}

.welcome-box-text-images p {
    width: 55%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 80px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    color: #8a95a0;
}

.welcome-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.welcome-images img {
    width: 560px;
    margin-top: -7px;
}

.welcome-image {
    position: relative;
}

.text-underline {
    color: white;
    position: absolute;
    bottom: 5%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-weight: 600;
}
