<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Night Club</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    </head>
    <body>
        <!-- HEADER PARTE TOP -->
        <div class="root">
            <header>
                <div class="container">
                    <div class="top-navbar flex">
                        <ul class="left-navbar flex">
                            <li v-for="link in linkLeft">
                                <a href="#">{{link}}</a>
                            </li>
                        </ul>
                        <img src="img/avada-nightclub-logo.png" alt="Night Club Avada logo">
                        <ul class="right-navbar flex">
                            <li v-for="link in linkRight">
                                <a href="#">{{link}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-buttons">
                        <a href="#">
                            <div class="demos">
                                <div class="icon-text">
                                    <i class="fas fa-folder"></i>
                                    <h5>Demos</h5>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="on-sale">
                                <div class="icon-text">
                                    <div class="price"><sup>$</sup>39</div>
                                    <h5>On Sale</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- HEADER HERO -->
                    <div class="top-hero">
                        <div class="hero-image-text">
                            <div class="top-image">
                                <img src="img/avada-nightclub-homepage-image.png" alt="NightClub image">
                            </div>
                            <div class="box-bottom">
                                <h1 class="memories-text">
                                    making memories all night long
                                </h1>
                                <a href="#">
                                    <div class="button vip">
                                    BECOME A VIP
                                    </div>
                                </a>
                            </div>
                            <div class="bottom-image">
                                <img src="img/avada-nightclub-play-showreel.png" alt="Showreel logo">
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- MAIN -->
            <main>
                <!-- 1° SEZIONE WELCOME -->
                <section id="welcome">
                    <div id="container-welcome">
                        <div class="main-welcome">
                            <div class="welcome-box-text-images">
                                <h4>WELCOME TO AVADA</h4>
                                <h1>have the night of your life</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus arcu odio, dapibus eu vulputate eu, gravida ac diam. Sed placerat, nisl eget facilisis lacinia, augue nisi tincidunt est, sed sodales lectus nunc eget ipsum. Nulla facilisi. Nulla tempor est et mollis consequat. Aliquam erat volutpat.</p>
                                <div class="welcome-images">
                                    <div class="welcome-image">
                                        <img src="img/avada-nightclub-dancelounge-small.jpg" alt="Dancelounge image">
                                        <h2 class="text-underline">
                                            dance lounge
                                        </h2>
                                        <span class="line one"></span>
                                    </div>
                                    <div class="welcome-image">
                                        <img src="img/avada-nightclub-rooftoplounge-small.jpg" alt="Rooftoplounge image">
                                        <h2 class="text-underline">
                                            rooftop bar
                                        </h2>
                                        <span class="line two"></span>
                                    </div>
                                    <div class="welcome-image">
                                        <img src="img/avada-nightclub-viplounge-small.jpg" alt="Viplounge image">
                                        <h2 class="text-underline">
                                            vip lounge
                                        </h2>
                                        <span class="line three"></span>
                                    </div>
                                    <div class="welcome-image">
                                        <img src="img/avada-nightclub-events-small.jpg" alt="Resident DJ image">
                                        <h2 class="text-underline">
                                            resident dj
                                        </h2>
                                        <span class="line four"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 2° SEZIONE RESIDENT-GUEST -->
                <section id="resident-guest">
                    <div class="photo dj-avada">
                        <div class="middle-opacity">
                            <div class="dj-text-button">
                                <h4>RESIDENT DJ</h4>
                                <h1>dj avada</h1>
                                <a href="#">
                                    <div class="button avada">
                                        VIEW PROFILE
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="photo dj-blondie">
                        <div class="dj-text-button">
                            <h4>SPECIAL GUEST DJ</h4>
                            <h1>dj blondie</h1>
                            <a href="#">
                                <div class="button blondie">
                                    VIEW PROFILE
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <!-- 3° SEZIONE SPECIAL-EVENTS -->
                <section id="special-events">
                    <div class="middle-opacity">
                        <div class="container">
                            <h4>SPECIAL EVENTS</h4>
                            <h1>for your diary</h1>
                            <div class="events-images">
                                <span class="events-image-text">
                                    <img src="img/avada-nightclub-events-6.jpg" alt="Nightclub event image">
                                    <div class="events-text">
                                        <h4>DJ Fusion</h4>
                                        <h5>August 19, 2021 @ 8:00 am</h5>
                                    </div>
                                </span>
                                <span class="events-image-text">
                                    <img src="img/avada-nightclub-events-5.jpg" alt="Nightclub event image">
                                    <div class="events-text">
                                        <h4>House Nation</h4>
                                        <h5>August 19, 2021 @ 8:00 am</h5>
                                    </div>
                                </span>
                                <span class="events-image-text">
                                    <img src="img/avada-nightclub-events-4.jpg" alt="Nightclub event image">
                                    <div class="events-text">
                                        <h4>Jazz Night</h4>
                                        <h5>August 19, 2021 @ 8:00 am</h5>
                                    </div>
                                </span>
                                <span class="events-image-text">
                                    <img src="img/avada-nightclub-events-3.jpg" alt="Nightclub event image">
                                    <div class="events-text">
                                        <h4>VIP Taster Sessions</h4>
                                        <h5>September 1, 2021 @ 8:00 am</h5>
                                    </div>
                                </span>
                                <span class="events-image-text">
                                    <img src="img/avada-nightclub-events-2.jpg" alt="Nightclub event image">
                                    <div class="events-text">
                                        <h4>Funky House Rave</h4>
                                        <h5>September 16, 2021 @ 8:00 am</h5>
                                    </div>
                                </span>
                                <span class="events-image-text">
                                    <img src="img/avada-nightclub-events-1.jpg" alt="Nightclub event image">
                                    <div class="events-text">
                                        <h4>Urban Vibes</h4>
                                        <h5>September 20, 2021 @ 8:00 am</h5>
                                    </div>
                                </span>
                            </div>
                            <a href="#">
                                <div class="button buttonevents">
                                    RSVP NOW
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <!-- 4° SEZIONE BECOME-VIP -->
                <section id="become-vip">
                    <div class="vip-text">
                        <h4>BECOME A VIP TONIGHT</h4>
                        <h1>exclusive vip lounge</h1>
                    </div>
                    <a href="#">
                        <div class="button becomevip">
                        JOIN THE CLUB
                        </div>
                    </a>
                </section>
            </main>
            <!-- FOOTER -->
            <footer>
                <div class="container">
                    <div class="box events-left">
                        <div class="fixed">
                            <h5>EVENTS</h5>
                            <ul>
                                <li v-for="link in linkBottom">
                                    <img :src="link.img" alt="Dj fusion image">
                                    <div class="text-box">
                                        <h4><a href="#">{{link.title}}</a></h4>
                                        <h6>{{link.subtitle}}</h6>
                                    </div>
                                </li>
                                <h5><a href="#">View All Events</a></h5>
                            </ul>
                        </div>
                    </div>
                    <div class="box address-center">
                        <div class="fixed">
                            <img src="img/avada-nightclub-logo-2x-300x99.png" alt="Avada Nightclub logo">
                            <div class="text-box">
                                Avada NightClub<br>
                                100 Night Club Blvd<br>
                                Beverly Hills<br>
                                <a href="#">hi@your-domain.com</a><br>
                                +1 (555) 000 000
                            </div>
                            <div class="footer-icons">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box venues-right">
                        <div class="fixed">
                            <h5>VENUES</h5>
                            <img src="img/avada-nightclub-footer-rooftop.jpg" alt="">
                            <img src="img/avada-nightclub-footer-dancelounge.jpg" alt="">
                        </div>
                    </div>
                    <div class="disclaimer">
                        © Copyright 2012 - 2020 | Avada Theme by <a href="#">ThemeFusion</a> | All Rights Reserved | Powered by <a href="#">Martina Amore</a>
                    </div>
                </div>
                <a href="#">
                    <div class="button-up">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                </a>
            </footer>
        </div>

            <script src="js/main.js" charset="utf-8"></script>

    </body>
</html>
